{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ $sessions := where .Site.Pages "Section" "sessions" }}
{{ $lightnings := where $sessions "Params.lightning" true }}

{{ $times := slice (dict "time" "10:40" "title" "10:40-11:10") (dict "time" "11:20" "title" "11:20-11:50") (dict "time" "12:00" "title" "12:00-12:30") (dict "timespan" "12:30-13:15" "title" "LUNCH") (dict "time" "13:15" "title" "13:15-13:45") (dict "time" "13:55" "title" "13:55-14:25") (dict "time" "14:35" "title" "14:35-15:05") (dict "timespan" "15:05-15:25" "title" "BREAK") (dict "time" "15:25" "title" "15:25-15:55") (dict "time" "16:05" "title" "16:05-16:35") (dict "time" "16:45" "title" "16:45-17:15") (dict "time" "17:25" "title" "17:25-17:55") }}
{{ $rooms := slice "1" "2" "3" }}

<style>
  .agenda {
    border: solid 1px #35566a;
  }
  .agenda table {
    border-collapse: collapse;
    width: 100%;
  }
  .agenda td {
    padding: 0.25em 1em;
    border: solid 2px white;
  }
  .agenda td:nth-child(n+2) {
    width: 25%;
  }
  .agenda td.agendaBlocked {
    background-color: #FFFFFF !important;
  }
  .agenda tr:first-child td {
    font-weight: bold;
    color: white;
    background-color: #35566a;
  }
  .agenda tr td:first-child {
    font-weight: bold;
    color: white;
    background-color: #35566a;
    text-align: center;
    white-space: nowrap;
  }
  .agenda tr:nth-child(2n) td:nth-child(2n) {
    background-color: #E0E0E0;
  }
  .agenda tr:nth-child(2n) td:nth-child(2n+3) {
    background-color: #E8E8E8;
  }
  .agenda tr:nth-child(2n+3) td:nth-child(2n) {
    background-color: #F0F0F0;
  }
  .agenda tr:nth-child(2n+3) td:nth-child(2n+3) {
    background-color: #F8F8F8;
  }
  .agenda table tr td.agendaSeparator {
    text-align: center;
    color: inherit;
    background-color: #DDD;
    border: solid 2px white;
  }
  .agenda td.lightnings div {
    font-size: 75%;
    line-height: 1.25em;
    margin-bottom: 0.25em;
  }

  .agendaSlot {
    margin: 0.5em;
  }
  .agendaSeparator, .agendaTime {
    background-color: #DDD;
  }

  @media (max-width:991px) {
      .agendaRoom {
          display: inline;
      }
  }

  @media (min-width: 992px) {
      .agendaRoom {
          display: none;
      }
  }
</style>

<div class="main-container">
  <a id="top"></a>
  <section class="speakers">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Agenda</h1>
          <p>
            Please note the timings below are subject to change!
          </p>
          <div></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="agenda">
            <div class="visible-xs visible-sm">
              <div class="agendaSlot">
                <div class="agendaTime">
                  9:00-9:50
                </div>
                <div class="agendaItem">
                  REGISTRATION
                </div>
              </div>
              <div class="agendaSlot">
                <div class="agendaTime">
                  9:50-10:00
                </div>
                <div class="agendaItem">
                  <span class="agendaRoom">Room 1</span> - Welcome
                </div>
              </div>
              <div class="agendaSlot">
                <div class="agendaTime">
                  10:00-10:30
                </div>
                <div class="agendaItem">
                  {{ $session := where (where $sessions "Params.sessiontime" "10:00") ".Params.room" "1" }}
                  {{ partial "agendaSession.html" (dict "session" $session "room" "1") }}
                </div>
              </div>
              {{ range $times }}
                {{ $time := .time }}
                {{ $timespan := .timespan }}
                {{ $title := .title }}
                <div class="agendaSlot">
                  {{ if $time }}
                    <div class="agendaTime">
                      {{ $title }}
                    </div>
                    {{ range $rooms }}
                      {{ $room := . }}
                      <div class="agendaItem">
                        {{ $session := where (where $sessions "Params.sessiontime" $time) ".Params.room" $room }}
                        {{ partial "agendaSession.html" (dict "session" $session "room" $room) }}
                      </div>
                    {{ end }}
                    {{ if eq $time "10:40" }}
                      <div class="agendaItem">
                        <span class="agendaRoom">Room 4</span> - Demo area - Bring in your game, app etc and show it off!
                      </div>
                    {{ else if eq $time "13:15" }}
                      <div class="agendaItem">
                        <div><span class="agendaRoom">Room 4</span> - Lightning talks (end by 15:05)</div>
                        <div style="margin-left:2em">
                          {{ partial "agendaSession.html" (dict "session" $lightnings) }}
                        </div>
                      </div>
                    {{ end }}
                  {{ else }}
                    <div class="agendaTime">
                      {{ $timespan }}
                    </div>
                    <div class="agendaItem">
                      {{ if eq $timespan "12:30-13:15"}}
                        LUNCH - Sponsored by <a href="http://instil.co"><img src="/2017/img/sponsors/instil.png" alt="Instil" title="Instil" style="height:2em;margin:0.5em"></a>
                      {{ else }}
                        {{ $title }}
                      {{ end }}
                    </div>
                    {{ if eq $timespan "12:30-13:15"}}
                      <div><span class="agendaRoom">Room 4</span> - <a href="/sessions/openspace/">Open Space intro from 12:55</a></div>
                    {{ else if eq $timespan "15:05-15:25"}}
                      <div>
                        <span class="agendaRoom">Room 4</span> - 15:05-17:15 -
                        <a href="/sessions/openspace/">
                          Open Space by <img src="/2017/img/sponsors/libertyit.jpg" alt="Liberty IT" title="Liberty IT" style="height:4em;margin:0.5em" />
                        </a>
                      </div>
                    {{ end }}
                  {{ end }}
                </div>
              {{ end }}
              <div class="agendaSlot">
                <div class="agendaTime">
                  18:05-18:20
                </div>
                <div class="agendaItem">
                  <span class="agendaRoom">Room 1</span> - Closing address and prize draw
                </div>
              </div>
              <div class="agendaSlot">
                <div class="agendaTime">
                  AFTERWARDS
                </div>
                <div class="agendaItem">
                  Complimentary food and drink at the Botanic Inn
                </div>
              </div>
            </div>  
            
            <table class="visible-md visible-lg">
              <tr>
                <td></td>
                <td>Room 1</td>
                <td>Room 2</td>
                <td>Room 3</td>
                <td>Room 4</td>
              </tr>
              <tr>
                <td class="agendaTimeHead">
                  9:00-9:50
                </td>
                <td colspan="4" class="agendaSeparator">
                  REGISTRATION
                </td>
              </tr>
              <tr>
                <td class="agendaTimeHead">
                  9:50-10:00
                </td>
                <td class="agendaSession">
                  <strong>Welcome</strong>
                </td>
                <td colspan="3" class="agendaBlocked"></td>
              </tr>
              <tr>
                <td class="agendaTimeHead">
                  10:00-10:30
                </td>
                <td class="agendaSession">
                  {{ $session := where (where $sessions "Params.sessiontime" "10:00") ".Params.room" "1" }}
                  {{ partial "agendaSession.html" (dict "session" $session "room" 1) }}
                </td>
                <td colspan="3" class="agendaBlocked"></td>
              </tr>
              {{ range $times }}
                {{ $time := .time }}
                {{ $timespan := .timespan }}
                {{ $title := .title }}
                <tr>
                  {{ if $time }}
                    <td class="agendaTimeHead">
                      {{ $title }}
                    </td>
                    {{ range $rooms }}
                      {{ $room := . }}
                      <td class="agendaSession">
                        {{ $session := where (where $sessions "Params.sessiontime" $time) ".Params.room" $room }}
                        {{ partial "agendaSession.html" (dict "session" $session "room" $room) }}
                      </td>
                    {{ end }}
                    {{ if eq $time "10:40"}}
                      <td rowspan="3">
                        <div>Demo area</div>
                        <div>Bring in your game, app etc and show it off!</div>
                      </td>
                    {{ else if eq $time "13:15"}}
                      <td rowspan="3" class="lightnings">
                        <div><strong>Lightning talks</strong></div>
                        {{ partial "agendaSession.html" (dict "session" $lightnings) }}
                      </td>
                    {{ else if eq $time "17:25"}}
                      <td class="agendaBlocked"></td>
                    {{ end }}
                  {{ else }}
                    <td class="agendaTimeHead">
                      {{ $timespan}}
                    </td>
                    <td colspan="3" class="agendaSeparator">
                      {{ if eq $timespan "12:30-13:15"}}
                        LUNCH - Sponsored by <a href="http://instil.co"><img src="/2017/img/sponsors/instil.png" alt="Instil" title="Instil" style="height:2em;margin:0.5em"></a>
                      {{ else }}
                        {{ $title }}
                      {{ end }}
                    </td>
                    {{ if eq $timespan "12:30-13:15"}}
                      <td>
                        <div><a href="/sessions/openspace/">Open Space intro from 12:55</a></div>
                      </td>
                    {{ else if eq $timespan "15:05-15:25"}}
                      <td rowspan="4">
                        <a href="/sessions/openspace/">
                          Open Space by <img src="/2017/img/sponsors/libertyit.jpg" alt="Liberty IT" title="Liberty IT" style="height:4em;margin:0.5em" />
                        </a>
                      </td>
                    {{ end }}
                  {{ end }}
                </tr>
              {{ end }}
              <tr>
                <td class="agendaTimeHead">
                  18:05-18:20
                </td>
                <td class="agendaSession">
                  <strong>Closing address and prize draw</strong>
                </td>
                <td colspan="3" class="agendaBlocked"></td>
              </tr>
              <tr>
                <td class="agendaTimeHead">
                  AFTERWARDS
                </td>
                <td colspan="4" class="agendaSeparator">
                  Complimentary food and drink at the Botanic Inn
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}