{{ partial "header.html" . }}
{{ partial "navbar.html" . }}


<div class="main-container">
  <section class="speakers">
    <div class="container">
      <div class="d-flex col-md-12">
        <h1 class="text-green text-xl col-md-6 mb-2 lh-9 mt-2">Event at <br> a Glance</h1>
        <div class="col-md-6">
          <div class="column d-flex h-100">
            <p class="my-auto">
              <!-- CHANGE THIS FILE PATH AND NAME IF NEEDED -->
<!--              <a href="/downloads/agenda.pdf" download="agenda.pdf" class="btn home">DOWNLOAD AGENDA</a> -->
            </p>
          </div>
        </div>
      </div>
      <div>
        <p class="text-bold">Morning Sessions:</p>
        <ul>
          <li>Keynotes and panel discussions.</li>
        </ul>
        <p class="text-bold">Afternoon Breakouts:</p>
        <ul>
          <li>Breakout tracks (Government, Business, Open Source AI and Academic)</li>
        </ul>
        <p class="text-bold">Evening Reception:</p>
        <ul>
          <li>Networking and Drinks</li>
        </ul>
      </div>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}
