{{ partial "header.html" . }} {{ partial "navbar.html" . }}
<section class="row">
  <div class="main-container">
    <a id="top"></a>
    <main class="container generic">
      <div class="col-md-12 main">
        <h3>Call for Speakers</h3>
        <p>
          You're building some interesting stuff, either in your day job or as a side project. Why not come and tell us about it? We're
          taking submissions for both 30-minute standard talks and 5-minute lightning talks, and we're happy to help novice
          speakers with preparation and advice.
        </p>
        <p>
          <a class="inner-link" href="https://goo.gl/forms/Zhr26wiaAEy3rz3r1">Submit a talk now! &raquo;</a>
        </p>
        <p>
          Proposals must be submitted by the April 30th (at 23:59:59).
        </p>
      </div>
    </main>
    {{ partial "speakers.html" . }}
  </div>
</section>
{{ partial "footer.html" . }}