{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ $committee := where .Site.Pages "Params.role" "committee" }}
{{ $organisers := where .Site.Pages "Params.role" "organiser" }}

<section class="row">
  <div class="main-container">
    <a id="top"></a>
    <div class="container generic">
      <h1 class="text-xl text-green lh-9 mt-2 mb-2">Meet The <br> Team</h1>
      {{ if $committee }}
      <div class="row">
        <div class="col-sm-12 mb-2 text-left"></div>
          <p>Open Ireland Network is a social enterprise dedicated to fostering open source innovation across the island of Ireland. By connecting individuals and organisations from government, business, academia, and the broader tech community, Open Ireland Network promotes collaboration, knowledge sharing around open source best practices. We focus on building sustainable and inclusive ecosystems and supporting emerging open source communities of practice. Find out more at www.openirelandnetwork.com. The Open Ireland Network community was set up with the support of Technology Ireland ICT Skillnet.</p>
        </div>
      </div>
      <div class="flexcolumn">
        {{ range $speaker := $committee }}
        {{ partial "team.html" $speaker }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
