{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<section class="row"> 
    <img src='/img/become-a-sponsor.png' alt='Become a sponsor title' />
    <main class="container generic">
    	<div class="col-md-12">
            <div>
                <p class="mx-10 text-center mt-2" style="font-size: 2.5em; font-weight: bold;"></p>
                    “This event is designed to bring together over 200 influential leaders from government, academia, enterprise, SME and the investor community to discuss and shape Ireland's open-source innovation landscape.”
                </p>
            </div>
            <div class="mb-10 mt-2">
                <h1 class="text-green text-center text-l">Our Sponsors</h1>
                <h1 class="text-green text-center">Gold Sponsors:</h1>
                {{ partial "supporting-partners.html" . }}
                <h1 class="text-green text-center">Community Sponsors:</h1>
                <div class="col-md-12 main">
                    <div class="row">
                        <div class="sponsors diamond">
                        <div class="col-md-4 my-auto">
                            <img src="/img/flax-and-teal.png" alt="">
                        </div>
                        <div class="col-md-4 my-auto">
                            <img src="/img/irdg-innovation.png" alt="">
                        </div>
                    </div>
                <h1 class="text-green text-center text-l">Our Event Partners</h1>
                <p class="text-center">We really appreciate the help provided by the following organizations in making the National Open Source Innovation Summit a success.</p>
                <div class="col-md-12 main">
                    <div class="row">
                        <div class="sponsors diamond">
                        <div class="col-md-3 my-auto">
                            <img src="/img/iasa.png" alt="">
                        </div>
                        <div class="col-md-3 my-auto">
                            <img src="/img/irdg-logo.png" alt="">
                        </div>
                        <div class="col-md-3 my-auto">
                            <img src="/img/lero.png" alt="">
                        </div>
                        <div class="col-md-3 my-auto">
                            <img src="/img/norf.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <h1 class="text-green">Why sponsor</h1>
                <div>
                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/network.png' alt='Network' />
                        <p class="my-auto ml-2">
                            Network with key influencers from across the globe and build strategic relationships with policymakers, public sector leaders and academic researchers who are shaping policy, governance and driving open-source development.
                        </p>
                    </div>
               
                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/contribute.png' alt='Contribute' />
                        <p class="my-auto ml-2">
                            Contribute to the national agenda of innovation positioning Ireland Inc as leaders in emerging tech built on open source and open source AI. Discuss how we address the gaps in skills and collaborative work practices and build the foundation for successful large-scale AI and open source initiatives.
                        </p>
                    </div>
                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/collaborate.png' alt='Collaborate' />
                        <p class="my-auto ml-2">
                            Identify valuable collaboration opportunities with Public Sector, Academia and Enterprises, opening doors for future partnerships and co-innovation. This is especially relevant for enterprises exploring AI and open-source solutions, where public sector collaboration is crucial for scaling innovations that can shape national infrastructure and services.
                        </p>
                    </div>
                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/ai.png' alt='Artificial Intelligence' />
                        <p class="my-auto ml-2">
                            Address open source and AI concerns, perceived risks around security, intellectual policy, or quality control, while showcasing success stories. Understand how these technologies can safely and effectively be adopted and hear first-hand real-world case studies of successful partnerships that are creating competitive advantages in their sector while mitigating risks.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <h1 class="text-green">Audience</h1>
                <ul>
                    <li>
                        Policy advisors, government leaders, and digital transformation directors shaping national IT strategies and investments.
                    </li>
                    <li>
                        Heads of Innovation, Chief Product Officers, CTOs, and Investors from both the public sector and a cross-section of key industries.
                    </li>
                    <li>
                        Senior leaders integrating open-source solutions into their technology stacks.
                    </li>
                    <li>
                        VPs of Research, Technology Transfer Officers and academics working on cutting-edge research.
                    </li>
                </ul>
            </div>
            <h1 class="text-green">Sponsorship Opportunity</h1>
            <div class="d-flex mb-4">
                <p class="my-auto mr-2">
                    This creates an opportunity for your company to position itself as a partner for innovation and modernisation projects, especially in government and enterprise contexts.
                    "By sponsoring, you gain visibility and credibility among the leaders driving Ireland’s tech future
                </p>
            </div>
            </p>
            <div class="mx-10 text-center">
                <p style="font-size: 2em; font-weight: bold;">Contact Us for Sponsorship Opportunities and a Prospectus</p>
                <a href="mailto:sponsor@openirelandnetwork.com">sponsor@openirelandnetwork.com</a>
            </div>
        </div>
    </main>
</section>
{{ partial "footer.html" . }}
