{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<section class="row"> 
    <main class="container generic">
    	<div class="col-md-12">
            <div>
               <h1 class="text-green text-xl lh-9 mb-2">Key <br/> Themes</h1>
            </div>

            <div class="mb-2">
                <div>
                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/contribute.png' alt='Network' />
                        <div class="my-auto ml-2">
                            <h2 class="text-green mb-0">
                                Explore how Open Source can Accelerate Triple Helix Innovation:
                            </h2>
                            <p>
                                Open Source can foster dynamic collaborations between universities, industry, and government to accelerate innovation and drive economic growth and social impact.
                            </p>
                        </div>
                    </div>
               
                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/rocket.png' alt='Rocket Icon' />
                        <div class="my-auto ml-2">
                            <h2 class="text-green mb-0">
                                Learn how Open Source is the Foundation for Emerging Technologies:
                            </h2>
                            <p>
                                Participate in critical discussions on how open source lies at the heart of many emerging technologies across multiple domains, for example, Generative AI or Computer Vision.
                            </p>
                        </div>
                    </div>

                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/chip.png' alt='Chip Icon' />
                        <div class="my-auto ml-2">
                            <h2 class="text-green mb-0">
                                Discover the positive potential of Open Source AI:
                            </h2>
                            <p>
                                Examine how Open Source AI communities are driving responsible AI innovation and shaping the ethical landscape ensuring safe, fair, and impactful AI solutions for government, industry, and academia.
                            </p>
                        </div>
                    </div>

                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/box.png' alt='Box Icon' />
                        <div class="my-auto ml-2">
                            <h2 class="text-green mb-0">
                                Access Expertise From Tech Industry and Vertical Domains:
                            </h2>
                            <p>
                                Gain insights from international experts and innovators. Hear directly from those navigating the complex landscape of open source governance and open source innovation in both the tech industry and across industries such as Finance, Manufacturing, Energy and Health.
                            </p>
                        </div>
                    </div>

                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/statistics.png' alt='Statistics Icon' />
                        <div class="my-auto ml-2">
                            <h2 class="text-green mb-0">
                                Learn How Open Source is Critical for Open Research:
                            </h2>
                            <p>
                                Learn how open source principles and practices are revolutionizing scientific research by promoting transparency, reproducibility, and global collaboration across disciplines.
                            </p>
                        </div>
                    </div>

                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/target.png' alt='Target Icon' />
                        <div class="my-auto ml-2">
                            <h2 class="text-green mb-0">
                                Experience Open Source Success Stories:
                            </h2>
                            <p>
                                Uncover how open source innovations are empowering organisations to streamline operations, build alliances, and contribute to sustainable technological change.
                            </p>
                        </div>
                    </div>

                    <div class="d-flex mb-4">
                        <img class="w-125 h-125" src='/img/podium.png' alt='Podium Icon' />
                        <div class="my-auto ml-2">
                            <h2 class="text-green mb-0">
                                Gain a Competitive Advantage:
                            </h2>
                            <p>
                                Stay ahead of industry trends by learning about innovative open solutions, including the latest advancements in emerging fields such as Open Source AI, that can enhance your organisation's strategy and operations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>


{{ partial "footer.html" . }}
