{{ partial "header.html" . }}

<body>
  <a id="top"></a>
  <div class="nav-container">
    <nav class="overlay-nav">
      {{ partial "mainmenu.html" . }}
    </nav>
  </div>
  <div class="main-container">
    <section class="hero">
      <div>
        <div class="content">
          <div class="columns">
            <div class="column">
              <img alt="logo" class="logo" src="/img/noss-logo.png">
            </div>
            <div class="column">
              <p>
                <a href="https://www.eventbrite.ie/e/national-open-source-innovation-summit-2025-tickets-1082435336229?aff=oddtdtcreator" class="btn home">Early Bird Tickets</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <section class="row text-center">
     <h1 class="mx-10"> Discover the role of open source in transforming innovation at the National Open Source Summit 2025, with perspectives from government, industry, and academia. This is the must attend event for innovators leveraging open source to accelerate ideas into action</h1>
    </section>

    <section class="row">
      <div class="row decorated">
        <h2 class="heading-with-lines">SUPPORTING PARTNERS</h2>
      </div>
      {{ partial "supporting-partners.html" . }}
    </section>

    <section class="row text-center">
      <h1 class="text-green">Key Themes and Dedicated Tracks</h1>
      {{ partial "key-themes.html" . }}
    </section>

</div>
{{ partial "footer.html" . }}
