{{ partial "header.html" . }}

<body>
  <a id="top"></a>
  <div class="nav-container">
    <nav class="overlay-nav">
      {{ partial "mainmenu.html" . }}
    </nav>
  </div>
  <div class="main-container">
    <section class="hero-slider">
      <ul class="slides">
        <li class="video-header">
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/giants-causeway.jpg">
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <img alt="logo" class="logo" src="/img/NIDevConf2020.png">
                <h1 class="text-white" style="margin-bottom: 0.5em;">NI DEVELOPER CONFERENCE 2020 POSTPONEMENT</h1>
                <h2 class="text-white">
                  New Date: Planned for the first week of October (5th - 11th) 2020
                </p>
                <p class="text-white">
                  <strong>Please fill in the form below to help us create the best virtual experience for you!</strong>
                </p>
                <p class="text-white">
                  In light of the significant concerns and the fluid situation surrounding the COVID-19 outbreak, the NIDC Committee has made the difficult decision to postpone this year’s conference and host it online. As NIDC is a volunteer run and community-led conference, the safety of everyone involved is paramount to us.  
                  We would like to extend a massive thank you to all our supporters for your patience and we look forward to seeing you again (online) in October.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="row">
      <iframe id="googleForm" src="https://docs.google.com/forms/d/e/1FAIpQLSfrV4e33xkvLPb2B7XvsfVecDzbE5WQ5f9j8J4TtRmtb8kTfA/viewform?embedded=true" style="width:100%; height:3560px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </section>
  </div>
  {{ partial "footer.html" . }}
