{{ partial "header.html" . }}

<body>
  <a id="top"></a>
  <div class="nav-container">
    <nav class="overlay-nav">
      {{ partial "mainmenu.html" . }}
    </nav>
  </div>
  <div class="main-container">
    <section class="hero-slider">
      <ul class="slides">
        <li class="video-header">
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/giants-causeway.jpg">
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <img alt="logo" class="logo" src="/img/nidc-logo-2021.png">
                <!-- <span class="uppercase text-white">
                  9th October 2021, <a href="/venue/">Riddel Hall, Queens University Belfast</a>
                </span> -->
                <h1 class="large-h1 text-white">POSTPONED</h3>
                <p class="text-white">
                  Our venue can't commit to safely host us this year, and on top of that current rates of infection are concerning our team about the comfort and safety of everyone attending, so NIDC is postponed until next year.
                </p>
                <p class="text-white">
                  <strong>BUT!</strong> Getting together as a community (safely) is what NIDC is for, so we’re looking for a (safe) way to make something happen this year. An after-party-style outdoor social is in the works, and we’re considering plans for an NIDC Meetup Week with smaller capacity, streamed events.
                </p>
                <p class="text-white">
                  One thing for certain is that we want to do <em>something</em> for you this year, and every year, and you're at the top of our minds in figuring out the next steps. Keep in touch with us on <a href="https://twitter.com/NIDevConf">Twitter</a> to keep up with the latest news and let us know if you have ideas!
                </p>
                <!-- <h1 class="large-h1 text-white" style="margin-bottom: 0.5em;">Join the Northern Ireland developer family.</h1> -->
                <!-- {{ partial "testimonials.html" . }} -->
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <!-- <section class="color-blocks main-container">
      <div class="color-block block-left col-md-6 col-sm-12"></div>
      <div class="color-block block-right col-md-6 col-sm-12"></div>
      
      <div class="container">
        <div class="row">
          <a href="{{ $.Site.Params.bookingurl }}" class="block-content">
            <div class="col-md-2 col-sm-4 text-center">
              <i>
                <img class="icon" src="/img/icons/Starred Ticket-70.png" width="65" style="margin-top: -12px">
              </i>
            </div>
          
            <div class="col-md-4 col-sm-8">
              <h1>Tickets</h1>
              <p>
                Get on the waiting list for the first batch of tickets!
              </p>
            </div>
          </a>

          <a href="{{ $.Site.Params.cfpurl }}" class="block-content">
            <div class="col-md-2 col-sm-4 text-center">
              <i>
                <img class="icon" src="/img/icons/Megaphone-70.png" width="60" style="margin-top: -12px">
              </i>
            </div>
          
            <div class="col-md-4 col-sm-8">
              <h1>Call for Speakers</h1>
              <p>Submit your talk ideas before the end of July.</p>
            </div>
          </a>
        </div>
      </div>
    </section> -->

    <!-- <section class="row">
      {{ partial "sponsorsplatinum.html" . }}
    </section> -->

    <!-- <section class="row homeIntro">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h1>Why attend the Northern Ireland Developer Conference?</h1>
            
            <p class="lead">
              Last year's virtual event went down well, but it's not quite the real thing. So this year we're planning to get together in person again! Expect another inspiring event with talks from right across the development spectrum, showcasing the great work that local developers are doing and the technologies they're using for their creations, plus other cool and exciting stuff from the great wide world of software. And as many real people as the guidelines will let us fit into the venue :)
            </p>
            <p><a class="inner-link highlight" href="/about/">Find out more &raquo;</a></p>

            <a href="/tickets/" class="btn"><i class="icons8-ticket"></i> Get your tickets</a>
          </div>
          
          <div class="col-md-6 col-md-offset-1">
            <div class="embedded-video-holder vju">
              <img src="/img/Meetup.jpg" style="width:100%" />
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section class="row">
      {{ partial "sponsorsgold.html" . }}
    </section>

    <div class="scrollSection">
      {{ partial "speakers.html" . }}
    </div>

    <section class="row">
      {{ partial "sponsorssilver.html" . }}
    </section> -->
</div>
{{ partial "footer.html" . }}
