{{ $session := .session }}
{{ $room := .room }}
{{ $time := .time }}

{{ if $session }}
    {{ range $session }}
        <div>
            <a href="{{ .RelPermalink }}" class="sessionlink">
                {{ if $room }}
                    <span class="agendaRoom">{{ $room.name }} - </span>
                {{ end }}
                {{ if .Params.keynote }}
                    <strong>KEYNOTE:
                {{ end }}
                {{ .Title }}
                {{ if .Params.keynote }}
                    </strong>
                {{ end }}
            </a>
        </div>
    {{ end }}
{{ else }}
    <div>
        {{ if and (eq $room.id "D") (gt $time "3") }}
            <a href="#lightning" class="sessionlink">
                <span class="agendaRoom">{{ $room.name }} - </span>
                Lightning Talks
            </a>
        {{ else if and (eq $room.id "E") (ge $time "7") }}
            <a href="#productcamp" class="sessionlink">
                <span class="agendaRoom">{{ $room.name }} - </span>
                ProductCamp
            </a>
        {{ else if (eq $room.id "E") }}
            Raspberry Jam
        {{ else }}
            Session TBC
        {{ end }}
    </div>
{{ end }}
