{{ $session := .session }}
{{ $room := .room }}
{{ $time := .time }}

{{ if $session }}
    {{ range $session }}
        <div>
            <a href="{{ .RelPermalink }}" class="sessionlink">
                {{ if $room }}
                    <span class="agendaRoom">{{ $room }} - </span>
                {{ end }}
                {{ if .Params.keynote }}
                    <strong>KEYNOTE:
                {{ end }}
                {{ .Title }}
                {{ if .Params.keynote }}
                    </strong>
                {{ end }}
            </a>
        </div>
    {{ end }}
{{ else }}
    <div>
        {{ if $room }}
            <span class="agendaRoom">{{ $room }} - </span>
        {{ end }}
        {{ if or (eq $time "5") (eq $time "6") }}
            LUNCH
        {{ else }}
            TBC
        {{ end }}
    </div>
{{ end }}
