<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Northern Ireland Developer Conference 2017</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/2017/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2017/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2017/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2017/css/pe-icon-7-stroke.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2017/css/theme-NIDevConf.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2017/font/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2017/css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn-images.mailchimp.com/embedcode/slim-10_7.css">
</head>