  <main class="container generic" style="text-align: center">
    <div class="row">
      <div class="sponsors diamond">
        <div class="col-md-2 my-auto">
          <img src="img/innovation.png" alt="">
        </div>
        <div class="col-md-2 my-auto">
          <img src="img/open-source-ai.png" alt="">
        </div>
        <div class="col-md-2 my-auto">
          <img src="img/collaboration.png" alt="">
        </div>
        <div class="col-md-2 my-auto">
          <img src="img/government.png" alt="">
        </div>
        <div class="col-md-2 my-auto">
          <img src="img/business.png" alt="">
        </div>
        <div class="col-md-2 my-auto">
          <img src="img/academia.png" alt="">
        </div>
      </div>
  </main>
