<div class="colors-container">
  <div class="colors">
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <a href="/"><img alt="Logo" class="logo logo-dark" src="/2017/img/NIDevConf2017.png"></a>
    </div>

    <div class="col-md-10 text-right">
      <ul class="menu">
        <li class="has-dropdown">
          <a href="/about/">About</a>
          <ul class="nav-dropdown">
            <li><a class="inner-link" href="/about/">Overview</a></li>
            <li><a class="inner-link" href="/agenda/">Agenda</a></li>
            <li><a class="inner-link" href="/venue/">Venue</a></li>
            <li><a class="inner-link" href="/team/">Team</a></li>
            <li><a class="inner-link" href="/code-of-conduct/">Code of Conduct</a></li>
          </ul>
        </li>
        <li><a class="inner-link" href="/tickets/">Tickets</a></li>
        <li><a class="inner-link" href="/speakers/">Speakers</a></li>
        <li><a class="inner-link" href="/sponsors/">Sponsors</a></li>
        <li><a class="inner-link" href="mailto:inbox@nidevconf.com">Contact Us</a></li>
        <li><a class="inner-link" href="https://twitter.com/NIDevConf"><img src="/images/twitter.png" style="height:1em"></a></li>
      </ul>
      <!--<ul class="menu">
                    <li class="has-dropdown">
                      <a href="#">About</a>
                      <ul class="nav-dropdown">
                        <li><a href="/location">Location</a></li>
                        <li><a class="inner-link" href="/code-of-conduct">Code of Conduct</a></li>
                        <li><a href="/guide-program">Guide Program</a></li>
                      </ul>
                    </li>
                    <li><a class="inner-link" href="https://ti.to/NIDevConf/NIDevConf-2017">Tickets</a></li>
                    <li class="has-dropdown">
                      <a href="#">Events</a>
                      <ul class="nav-dropdown">
                        <li><a class="inner-link" href="/events/afterparty">After Party</a></li>
                        <li><a class="inner-link" href="/events/preparty">Kick Off Party</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">Schedule</a>
                      <ul class="nav-dropdown">
                        <li><a class="inner-link" href="/schedule">Schedule</a></li>
                        <li><a class="inner-link" href="/speakers">Speakers</a></li>
                        <li><a class="inner-link" href="/sessions">Sessions</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">Sponsors</a>
                      <ul class="nav-dropdown">
                        
                        <li><a class="inner-link" href="/sponsors">NIDevConf Sponsors</a></li>
                        <li><a class="inner-link" href="/NIDevConf2017Prospectus.pdf">Sponsorship Prospectus</a></li>
                      </ul>
                    </li>
                  </ul>-->
      <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
    </div>
  </div>
</div>