<div class="container">
  <div class="row">
    <div class="col-md-2">
      <a href="/"><img alt="Logo" class="logo logo-dark" src="/img/nidc-logo.png"></a>
    </div>

    <div class="col-md-10 text-right">
      <ul class="menu">
        <li class="has-dropdown">
          <a class="inner-link">NIDC {{ $.Site.Params.year }}</a>
          <ul class="nav-dropdown">
            <li><a class="inner-link" href="/tickets/">Tickets</a></li>
            <li><a class="inner-link" href="/cfp/">Call for Speakers</a></li>
            <li><a class="inner-link" href="https://iccbelfast.com/plan-your-visit/getting-here">Venue</a></li>
            <li><a class="inner-link" href="https://iccbelfast.com/plan-your-visit/accessibility">Accessibility</a></li>
            <!-- <li><a class="inner-link" href="/sponsors/">Sponsors</a></li> -->
            <!-- <li><a class="inner-link" href="/conference-day/">Conference day info</a></li> -->
            <!-- <li><a class="inner-link" href="/agenda/">Agenda</a></li> -->
            <!-- <li><a class="inner-link" href="/sessions/">Sessions</a></li> -->
            <!-- <li><a class="inner-link" href="/speakers/">Speakers</a></li> -->
            <!-- <li><a class="inner-link" href="/covid/">COVID</a></li> -->
            <!-- <li><a class="inner-link" href="/workshops/">Workshops</a></li> -->
            <!-- <li><a class="inner-link" href="/meetup-fest/">Meetup Fest</a></li> -->
            <!-- <li><a class="inner-link" href="/children/">Children</a></li> -->
          </ul>
        </li>
        <li class="has-dropdown">
          <a class="inner-link">Community</a>
          <ul class="nav-dropdown">
            <li><a class="inner-link" href="/meetups/">Meetup calendar</a></li>
            <li><a class="inner-link" href="/meetup-fest/">Meetup Fest</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a class="inner-link">About</a>
          <ul class="nav-dropdown">
            <!-- <li><a class="inner-link" href="/about/">Overview</a></li> -->
            <li><a class="inner-link" href="/sponsorship/">Sponsoring</a></li>
            <!-- <li><a class="inner-link" href="/volunteers/">Volunteering</a></li> -->
            <li><a class="inner-link" href="/team/">Team</a></li>
            <li><a class="inner-link" href="/code-of-conduct/">Code of Conduct</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a class="inner-link">Previous Years</a>
          <ul class="nav-dropdown">
            <li><a class="inner-link" href="https://www.youtube.com/NIDevConf">All recordings</a></li>
            <li><a class="inner-link" href="https://2022.nidevconf.com/">NIDC 2022</a></li>
            <li><a class="inner-link" href="https://2021.nidevconf.com/">NIDC 2021</a></li>
            <li><a class="inner-link" href="https://2020.nidevconf.com/">NIDC 2020</a></li>
            <li><a class="inner-link" href="https://2019.nidevconf.com/">NIDC 2019</a></li>
            <li><a class="inner-link" href="https://2018.nidevconf.com/">NIDC 2018</a></li>
            <li><a class="inner-link" href="https://2017.nidevconf.com/">NIDC 2017</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a class="inner-link">In Touch</a>
          <ul class="nav-dropdown">
            <li><a class="inner-link" href="/newsletter/">Newsletter</a></li>
            <li><a class="inner-link" href="mailto:inbox@nidevconf.com">Email us</a></li>
            <li><a class="inner-link" href="https://twitter.com/NIDevConf">Twitter</a></li>
            <li><a class="inner-link" href="https://www.linkedin.com/company/northern-ireland-developer-conference/">LinkedIn</a></li>
            <li><a class="inner-link" href="https://www.instagram.com/nidevconf/">Instagram</a></li>
            <li><a class="inner-link" href="https://www.facebook.com/NIDevConf/">Facebook</a></li>
            <li><a class="inner-link" href="https://www.tiktok.com/@nidevconf">TikTok</a></li>
          </ul>
        </li>
      </ul>
      <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
    </div>
  </div>
</div>
