<div class="colors-container">
  <div class="colors">
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <a href="/"><img alt="Logo" class="logo logo-dark" src="/img/nidc-logo-2021.png"></a>
    </div>

    <div class="col-md-10 text-right">
      <ul class="menu">
        <li class="has-dropdown">
          <a class="inner-link" href="/">NIDC 2022</a>
          <ul class="nav-dropdown">
            <li><a class="inner-link" href="/mailing-list/">Mailing list</a></li>
          </ul>
        </li>

        <li class="has-dropdown">
          <a class="inner-link" href="/meetups/">Community</a>
          <ul class="nav-dropdown">
            <li><a class="inner-link" href="/meetups/">Meetup calendar</a></li>
          </ul>
        </li>
        <!-- <li class="has-dropdown">
          <a class="inner-link" href="/">NIDC2021</a>
          <ul class="nav-dropdown">
            <li><a class="inner-link" href="/agenda/">Agenda</a></li>
            <li><a class="inner-link" href="{{ $.Site.Params.bookingurl }}">Tickets</a></li>
            <li><a class="inner-link" href="{{ $.Site.Params.cfpurl }}">Call for Speakers</a></li>
            <li><a class="inner-link" href="/agenda/">Agenda</a></li>
            <li><a class="inner-link" href="/sessions/">Sessions</a></li>
            <li><a class="inner-link" href="/speakers/">Speakers</a></li>
            <li><a class="inner-link" href="/sponsors/">Sponsors</a></li>
            <li><a class="inner-link" href="/venue/">Venue</a></li>
            <li><a class="inner-link" href="/accessibility/">Accessibility</a></li>
            <li><a class="inner-link" href="/workshops/">Workshops</a></li>
            <li><a class="inner-link" href="/children/">Children</a></li>
          </ul>
        </li> -->
        <li class="has-dropdown">
          <a class="inner-link" href="/about/">About</a>
          <ul class="nav-dropdown">
            <!-- <li><a class="inner-link" href="/about/">Overview</a></li> -->
            <!-- <li><a class="inner-link" href="/sponsorship/">Sponsoring</a></li> -->
            <li><a class="inner-link" href="/team/">Team</a></li>
            <li><a class="inner-link" href="/code-of-conduct/">Code of Conduct</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a class="inner-link" href="https://2021.nidevconf.com/">Previous Years</a>
          <ul class="nav-dropdown">
            <li><a class="inner-link" href="https://2021.nidevconf.com/">2021</a></li>
            <li><a class="inner-link" href="https://2020.nidevconf.com/">2020</a></li>
            <li><a class="inner-link" href="https://2019.nidevconf.com/">2019</a></li>
            <li><a class="inner-link" href="https://2018.nidevconf.com/">2018</a></li>
            <li><a class="inner-link" href="https://2017.nidevconf.com/">2017</a></li>
            <li><a class="inner-link" href="https://www.youtube.com/NIDevConf">Recorded talks</a></li>
          </ul>
        </li>
        <li><a class="inner-link" href="mailto:inbox@nidevconf.com">Contact Us</a></li>
        <li><a class="inner-link" href="https://twitter.com/NIDevConf"><img src="/images/twitter.png" style="height:1em" alt="Twitter"></a></li>
      </ul>
      <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
    </div>
  </div>
</div>
