{{ $speakers := where .Site.Pages "Section" "speakers" }}
{{ $keynotespeakers := where $speakers "Params.keynote" true }}
{{ $normalspeakers := where $speakers "Params.keynote" false }}

<section class="speakers">
  {{ if $keynotespeakers }}
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Keynote Speaker</h1>
        </div>
      </div>
      {{ range $speaker := $keynotespeakers }}
        {{ partial "speaker.html" $speaker }}
      {{ end }}
    </div>
  {{ end }}
  {{ if $normalspeakers }}
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Speakers</h1>
        </div>
      </div>
      {{ range $speaker := $normalspeakers }}
        {{ partial "speaker.html" $speaker }}
      {{ end }}
    </div>
  {{ end }}
</section>