{{ $platinum := where .Site.Pages "Params.sponsorlevel" "platinum" }}
{{ $gold := where .Site.Pages "Params.sponsorlevel" "gold" }}
{{ $silver := where .Site.Pages "Params.sponsorlevel" "silver" }}
{{ $specialsupporter := where .Site.Pages "Params.sponsorlevel" "specialsupporter" }}
{{ $supporter := where .Site.Pages "Params.sponsorlevel" "supporter" }}

  <main class="container generic" style="text-align: center">
    <div class="col-md-12 main">
      {{ if $platinum }}
      <div class="row">
        <h1>Platinum Sponsors</h1>
      </div>
      <div class="row">
        <div class="sponsors platinum">
          {{ range $platinum }}
            {{ partial "sponsor.html" . }}
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ if $gold }}
      <hr/>
      <div class="row">
        <h2>Gold Sponsors</h2>
      </div>
      <div class="row">
        <div class="sponsors gold">
          {{ range $gold }}
            {{ partial "sponsor.html" . }}
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ if $silver }}
      <hr/>
      <div class="row">
        <h2>Silver Sponsors</h2>
      </div>
      <div class="row">
        <div class="sponsors silver">
          {{ range $silver }}
            {{ partial "sponsor.html" . }}
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ if $specialsupporter }}
      <hr/>
      <div class="row">
        <h2>Special Supporters</h2>
      </div>
      <div class="row">
        <div class="sponsors supporter">
          {{ range $specialsupporter }}
            {{ partial "sponsor.html" . }}
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ if $supporter }}
      <hr/>
      <div class="row">
        <h2>Supporters</h2>
      </div>
      <div class="row">
        <div class="sponsors supporter">
          {{ range $supporter }}
            {{ partial "sponsor.html" . }}
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </main>
