  <main class="container generic" style="text-align: center">
    <div class="col-md-12 main">
      <div class="row decorated">
        <h2 class="heading-with-lines">SUPPORTING PARTNERS</h2>
      </div>
      <div class="row">
        <div class="sponsors diamond">
          <div class="col-md-4 my-auto">
            <img src="img/technology-ireland.png" alt="">
          </div>
          <div class="col-md-4 my-auto">
            <img src="img/irdg-logo.png" alt="">
          </div>
          <div class="col-md-4 my-auto">
            <img src="img/research-innovation.png" alt="">
          </div>
        </div>
      </div>
  </main>
